.custom-greeting {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.container {
  margin-bottom: 1rem;
}

.open-list-button {
  text-transform: uppercase;
  background-color: #0f4d90;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 17px;
  padding-bottom: 17px;

  &:hover {
    color: #ffffff !important;
  }
}

.exclamation-holder {
  padding: 1rem;
  margin-bottom: 0px;
}
