// All scss
@import "@phila/phila-ui/src/assets/styles/scss/all.scss";
@import "bulma/bulma.sass";
// @import '~bulma-checkradio';

.content h1 {
  margin-bottom: 2rem !important;
}

.content h2 {
  margin-bottom: 1rem !important;
}

h3 {
  color: #444444;
  font-family: "Montserrat-SemiBold", "Montserrat SemiBold", "Montserrat", sans-serif;
  font-weight: 650;
  font-size: 24px;
  padding-top: 16px !important;
  padding-bottom: 8px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  line-height: 30px !important;
}

.alert-modal-list li {
  padding: 10px 5px 10px 5px;; 
}

// .alert-modal-list li:nth-child(odd) {
//   background-color: #cfcfcf;
// }

.alert-modal-list li:nth-child(even) {
  background-color: #f0f0f0;
}
